<!DOCTYPE html>
<html lang="en">
    <head>
        <!--=====================================
                    META-TAG PART START
        =======================================-->
        <!-- REQUIRE META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- AUTHOR META -->
        <meta name="author" content="Anna">
        <meta name="email" content="superpromier@gmail.com">
        

        <!-- TEMPLATE META -->
        <meta name="name" content="Portlab">
        <meta name="type" content="Personal Portfolio">
        <meta name="title" content="Portlab - Personal Portfolio Bootstrap HTML Template">
        <meta name="keywords" content="portlab, portfolio, personal, html, template, bootstrap, bussiness, clean, creative, resume, cv, designer, responsive, minimal, freelancer">
        <!--=====================================
                    META-TAG PART END
        =======================================-->

        <!-- FOR WEBPAGE TITLE -->
        <title>Portlab - Resume</title>

        <!--=====================================
                    CSS LINK PART START
        =======================================-->
        <!-- FOR FAVICON -->
        <link rel="icon" href="img/logo1.png">

        <!-- FOR FLATICON -->
        <link rel="stylesheet" href="font/flaticon/portfolio/flaticon.css">
        <link rel="stylesheet" href="font/flaticon/index/flaticon.css">

        <!-- FOR FONT AWESOME -->
        <link rel="stylesheet" href="css/vendor/fontawesome.css">

        <!-- FOR SLICK SLIDER -->
        <link rel="stylesheet" href="css/vendor/slick.css">

        <!-- FOR BOOTSTRAP -->
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css">

        <!-- FOR GLOBAL STYLE -->
        <link rel="stylesheet" href="css/custom/main.css">

        <!-- FOR INDEX PAGE -->
        <link rel="stylesheet" href="css/custom/resume.css">
        <!--=====================================
                    CSS LINK PART END
        =======================================-->
    </head>
    <body>
        <!--=====================================
                BACK2TOP BUTTON PART START
        =======================================-->
        <a class="back2top-btn" href="#">
            <i class="fas fa-long-arrow-alt-up"></i>
        </a>
        <!--=====================================
                BACK2TOP BUTTON PART END
        =======================================-->


        <!--=====================================
                    NAVBAR PART START
        =======================================-->
        <nav class="navbar-part">
            <div class="container">
                <div class="navbar-content">
                    <a class="navbar-logo" href="index.html"><img src="img/logo1.png" alt="logo"></a>
                    <button class="navbar-toggle" type="button"><i class="fas fa-bars"></i></button>

                    <div class="navbar-slide">
                        <a class="navbar-cross" href="#"><i class="fas fa-times"></i></a>

                        <ul class="navbar-list">
                            <li class="navbar-item"><a class="navbar-link" href="index.html">Home</a></li>
                            <li class="navbar-item"><a class="navbar-link" href="service.html">services</a></li>
                            <li class="navbar-item active"><a class="navbar-link" href="resume.html">resume</a></li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link dropdown-indicator" href="#">
                                    <span>portfolio</span>
                                    <i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="portfolio-list.html">Portfolio List</a></li>
                                    <li><a class="dropdown-link" href="portfolio-details.html">Portfolio Details</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link dropdown-indicator" href="#">
                                    <span>blogs</span>
                                    <i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="blog-list.html">Blog list</a></li>
                                    <li><a class="dropdown-link" href="blog-details.html">blog details</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item"><a class="navbar-link" href="contact.html">contact</a></li>
                        </ul>

                        <div class="navbar-btn">
                            <a class="btn btn-inline" href="#">
                                <i class="fas fa-code"></i>
                                <span>need to talk?</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--=====================================
                    NAVBAR PART END
        =======================================-->


        <!--=====================================
                  SINGLE BANNER PART START
        =======================================-->
        <section class="single-banner">
            <div class="single-oly">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-content">
                                <h1>My Resume</h1>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">resume</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                  SINGLE BANNER PART END
        =======================================-->


        <!--=====================================
                    ABOUT PART START
        =======================================-->
        <section class="section about-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <p>about <span>myself</span></p>
                            <h2>Some basic information about myself</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="about-summery">
                            <h3>I'm Anna</h3>
                            <p>I’m with broad technical skill-set, very strong attention to detail, and 3 years of experience in front-end web development. Able to multitask and juggle multiple pressing projects simultaneously. On top of the latest trends and technologies. Ability to improvise, troubleshoot, take ownership, and most importantly learn new skills on the job.</p>
                        </div>
                        <div class="about-list">
                            <ul>
                                
                                <li>
                                    <h6>Lives in:</h6>
                                    <p>Russia</p>
                                </li>
                                <li>
                                    <h6>Website:</h6>
                                    <p>www.Annakochenkova.com</p>
                                </li>
                            </ul>
                            <ul>                                
                                <li>
                                    <h6>Skype:</h6>
                                    <p>live:.cid.871c79ec50c4d82</p>
                                </li>
                                <li>
                                    <h6>Linkedin:</h6>
                                    <p>/anna-kochenkova</p>
                                </li>
                            </ul>
                        </div>
                        <div class="about-btn duel-btn">
                            <a class="btn btn-inline" href="#">
                                <i class="fas fa-download"></i>
                                <span>Download CV</span>
                            </a>
                            <a class="btn btn-inline" href="#">
                                <i class="fas fa-headset"></i>
                                <span>contact me</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="about-img">
                            <img src="img/about.png" alt="about">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    ABOUT PART END
        =======================================-->


        <!--=====================================
                    EXPERIENCE PART START
        =======================================-->
        <section class="section exper-part cate-active">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="resume-card">
                            <span class="flaticon-medal"></span>
                            <h4>Feb 2013 - Dec 2015</h4>
                            <ul>
                                <li>
                                    <i class="flaticon-deadline"></i>
                                </li>
                                <li>
                                    <h5>Frontend Developer</h5>
                                    <h6>Creative-It Institute</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="resume-card">
                            <span class="flaticon-medal"></span>
                            <h4>Feb 2015 - Dec 2018</h4>
                            <ul>
                                <li>
                                    <i class="flaticon-deadline"></i>
                                </li>
                                <li>
                                    <h5>Backend Developer</h5>
                                    <h6>Ingenious-hub Team</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="resume-card">
                            <span class="flaticon-medal"></span>
                            <h4>Feb 2018 - Dec 2019</h4>
                            <ul>
                                <li>
                                    <i class="flaticon-deadline"></i>
                                </li>
                                <li>
                                    <h5>Software group Leader</h5>
                                    <h6>IT Company </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="resume-card">
                            <span class="flaticon-medal"></span>
                            <h4>Feb 2019 - Dec 2020</h4>
                            <ul>
                                <li>
                                    <i class="flaticon-deadline"></i>
                                </li>
                                <li>
                                    <h5>Frontend and Backend Developer</h5>
                                    <h6>Upwork</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    EXPERIENCE PART END
        =======================================-->


        <!--=====================================
                    EDUCATION PART START
        =======================================-->
        <section class="section edu-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <p>my <span>qualification</span></p>
                            <h2>Something about my qualification</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="resume-card">
                            <span class="flaticon-graduation-cap"></span>
                            <h4>Nov 2020 - Running</h4>
                            <ul>
                                <li>
                                    <i class="flaticon-deadline"></i>
                                </li>
                                <li>
                                    <h5>Upwork</h5>
                                    <h6>Full stack & Full time developer</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="resume-card">
                            <span class="flaticon-graduation-cap"></span>
                            <h4>Feb 2018 - Dec 2019</h4>
                            <ul>
                                <li>
                                    <i class="flaticon-deadline"></i>
                                </li>
                                <li>
                                    <h5>Software Group Leader</h5>
                                    <h6>IT Company</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="resume-card">
                            <span class="flaticon-graduation-cap"></span>
                            <h4>Feb 2015 - Dec 2018</h4>
                            <ul>
                                <li>
                                    <i class="flaticon-deadline"></i>
                                </li>
                                <li>
                                    <h5>Backend Developer</h5>
                                    <h6>Ingenious-Hub Team</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="resume-card">
                            <span class="flaticon-graduation-cap"></span>
                            <h4>Feb 2013 - Dec 2015</h4>
                            <ul>
                                <li>
                                    <i class="flaticon-deadline"></i>
                                </li>
                                <li>
                                    <h5>Frontend Developer</h5>
                                    <h6>Creative-It Institute</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    EDUCATION PART END
        =======================================-->


        <!--=====================================
                    REFERENCE PART START
        =======================================-->
        <section class="section refer-part cate-active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="refer-card">
                            <div class="refer-img">
                                <img src="img/refer-1.jpg" alt="refer-1">
                            </div>
                            <div class="refer-content">
                                <h4>Maccelam Bond</h4>
                                <p>Sr. Ux / Ui Designer <span>at Creative It Institute</span></p>
                                <ul class="refer-contact">
                                    <li><a class="icon icon-inline" href="#"><i class="fas fa-phone-alt"></i></a></li>
                                    <li><a class="icon icon-inline" href="#"><i class="fas fa-envelope"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="refer-card">
                            <div class="refer-img">
                                <img src="img/refer-2.jpg" alt="refer-2">
                            </div>
                            <div class="refer-content">
                                <h4>Lady Watsona</h4>
                                <p>Deputy Manager <span>at Icon Infotech LTD</span></p>
                                <ul class="refer-contact">
                                    <li><a class="icon icon-inline" href="#"><i class="fas fa-phone-alt"></i></a></li>
                                    <li><a class="icon icon-inline" href="#"><i class="fas fa-envelope"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    REFERENCE PART END
        =======================================-->


        <!--=====================================
                    SKILLS PART START
        =======================================-->
        <section class="section skills-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <p>my <span>skills</span></p>
                            <h2>Expert in this technical web software</h2>
                        </div>
                    </div>
                </div>
                <div class="row skills-parent">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/Laravel.png" alt="photoshop">
                            </div>
                            <div class="skills-name">
                                <p>Laravel</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/vuejs.png" alt="illustrator">
                            </div>
                            <div class="skills-name">
                                <p>Vue</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/react.png" alt="react">
                            </div>
                            <div class="skills-name">
                                <p>react</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/html.png" alt="html">
                            </div>
                            <div class="skills-name">
                                <p>html</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/css.png" alt="css">
                            </div>
                            <div class="skills-name">
                                <p>css</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/javascript.png" alt="javascript">
                            </div>
                            <div class="skills-name">
                                <p>javascript</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/bootstrap.png" alt="bootstrap">
                            </div>
                            <div class="skills-name">
                                <p>bootstrap</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/jquery.png" alt="jquery">
                            </div>
                            <div class="skills-name">
                                <p>jquery</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/sass.png" alt="sass">
                            </div>
                            <div class="skills-name">
                                <p>sass</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/wordpress.png" alt="wordpress">
                            </div>
                            <div class="skills-name">
                                <p>wordpress</p>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/github.png" alt="github">
                            </div>
                            <div class="skills-name">
                                <p>github</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="skills-card">
                            <div class="skills-img">
                                <img src="img/vscode.png" alt="vscode">
                            </div>
                            <div class="skills-name">
                                <p>vscode</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--=====================================
                    SKILLS PART END
        =======================================-->
        

        <!--=====================================
                    FOOTER PART START
        =======================================-->
        <section class="section footer-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-logo">
                            <a href="#"><img src="img/logo1.png" alt="footer-logo"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="footer-icon">
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="footer-text">
                            <li><h6>&copy; Copyright - <span>2020</span></h6></li>
                            <li><h6>All rights reserved by - <a target="_blank" href="#">Anna</a></h6></li>
                            <li><h6>Developed by - <a target="_blank" href="#">Anna-kochenkova</a></h6></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    FOOTER PART END
        =======================================-->
        

        <!--=====================================
                    JS LINK PART START
        =======================================-->
        <!-- FOR BOOTSTRAP -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/vendor/popper.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <!-- FOR SLICK SLIDER -->
        <script src="js/vendor/slick.min.js"></script>
        <script src="js/custom/slick.js"></script>

        <!-- FOR COUNTERUP -->
        <script src="js/vendor/counterup.min.js"></script>
        <script src="js/vendor/waypoints.min.js"></script>
        <script src="js/custom/counterup.js"></script>

        <!-- FOR INTERACTION -->
        <script src="js/custom/main.js"></script>
        <!--=====================================
                    JS LINK PART END
        =======================================-->
    </body>
</html>

