<!DOCTYPE html>
<html lang="en">
    <head>
        <!--=====================================
                    META-TAG PART START
        =======================================-->
        <!-- REQUIRE META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- AUTHOR META -->
        <meta name="author" content="Anna">
        <meta name="email" content="superpromier@gmail.com">
        

        <!-- TEMPLATE META -->
        <meta name="name" content="Portlab">
        <meta name="type" content="Personal Portfolio">
        <meta name="title" content="Portlab - Personal Portfolio Bootstrap HTML Template">
        <meta name="keywords" content="portlab, portfolio, personal, html, template, bootstrap, bussiness, clean, creative, resume, cv, designer, responsive, minimal, freelancer">
        <!--=====================================
                    META-TAG PART END
        =======================================-->

        <!-- FOR WEBPAGE TITLE -->
        <title>Anna-kochenkova Portfolio</title>

        <!--=====================================
                    CSS LINK PART START
        =======================================-->
        <!-- FOR FAVICON -->
        <link rel="icon" href="img/logo1.png">

        <!-- FOR FLATICON -->
        <link rel="stylesheet" href="font/flaticon/portfolio/flaticon.css">
        <link rel="stylesheet" href="font/flaticon/index/flaticon.css">

        <!-- FOR FONT AWESOME -->
        <link rel="stylesheet" href="css/vendor/fontawesome.css">

        <!-- FOR SLICK SLIDER -->
        <link rel="stylesheet" href="css/vendor/slick.css">

        <!-- FOR BOOTSTRAP -->
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css">

        <!-- FOR GLOBAL STYLE -->
        <link rel="stylesheet" href="css/custom/main.css">

        <!-- FOR INDEX PAGE -->
        <link rel="stylesheet" href="css/custom/service.css">
        <!--=====================================
                    CSS LINK PART END
        =======================================-->
    </head>
    <body>
        <!--=====================================
                BACK2TOP BUTTON PART START
        =======================================-->
        <a class="back2top-btn" href="#">
            <i class="fas fa-long-arrow-alt-up"></i>
        </a>
        <!--=====================================
                BACK2TOP BUTTON PART END
        =======================================-->


        <!--=====================================
                    NAVBAR PART START
        =======================================-->
        <nav class="navbar-part">
            <div class="container">
                <div class="navbar-content">
                    <a class="navbar-logo" href="index.html"><img src="img/logo1.png" alt="logo"></a>
                    <button class="navbar-toggle" type="button"><i class="fas fa-bars"></i></button>

                    <div class="navbar-slide">
                        <a class="navbar-cross" href="#"><i class="fas fa-times"></i></a>

                        <ul class="navbar-list">
                            <li class="navbar-item"><a class="navbar-link" href="index.html">Home</a></li>
                            <li class="navbar-item active"><a class="navbar-link" href="service.html">services</a></li>
                            <li class="navbar-item"><a class="navbar-link" href="resume.html">resume</a></li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link dropdown-indicator" href="#">
                                    <span>portfolio</span>
                                    <i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="portfolio-list.html">Portfolio List</a></li>
                                    <li><a class="dropdown-link" href="portfolio-details.html">Portfolio Details</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link dropdown-indicator" href="#">
                                    <span>blogs</span>
                                    <i class="fas fa-plus"></i>
                                </a>
                                <ul class="dropdown-list">
                                    <li><a class="dropdown-link" href="blog-list.html">Blog list</a></li>
                                    <li><a class="dropdown-link" href="blog-details.html">blog details</a></li>
                                </ul>
                            </li>
                            <li class="navbar-item"><a class="navbar-link" href="contact.html">contact</a></li>
                        </ul>

                        <div class="navbar-btn">
                            <a class="btn btn-inline" href="#">
                                <i class="fas fa-code"></i>
                                <span>need to talk?</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--=====================================
                    NAVBAR PART END
        =======================================-->


        <!--=====================================
                  INNER BANNER PART START
        =======================================-->
        <section class="single-banner">
            <div class="single-oly">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-content">
                                <h1>My services</h1>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">services</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                  INNER BANNER PART END
        =======================================-->


        <!--=====================================
                    FEATURE PART START
        =======================================-->
        <section class="feature-part">
            <div class="container">
                <div class="feature-slider">
                    <div class="feature-card">
                        <i class="flaticon-creativity"></i>
                        <h6>creative design</h6>
                    </div>
                    <div class="feature-card">
                        <i class="flaticon-tools-and-utensils"></i>
                        <h6>clean code</h6>
                    </div>
                    <div class="feature-card">
                        <i class="flaticon-credit-card"></i>
                        <h6>easy customize</h6>
                    </div>
                    <div class="feature-card">
                        <i class="flaticon-devices"></i>
                        <h6>responsive site</h6>
                    </div>
                    <div class="feature-card">
                        <i class="flaticon-bar-chart"></i>
                        <h6>seo friendly</h6>
                    </div>
                    <div class="feature-card">
                        <i class="flaticon-creativity"></i>
                        <h6>creative design</h6>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    FEATURE PART END
        =======================================-->


        <!--=====================================
                    SERVICE PART START
        =======================================-->
        <section class="section service-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <p>my <span>services</span></p>
                            <h2>You can find your professional need service.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="service-card">
                            <h3>01</h3>
                            <span class="flaticon-computer"></span>
                            <i class="flaticon-computer"></i>
                            <h4>website design</h4>
                            <p>I have got much experience working with front-end coding HTML, CSS, SASS, JAVASCRIPT, BOOTSTRAP, JQUERY.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-card service-ghape">
                            <h3>02</h3>
                            <span class="flaticon-php"></span>
                            <i class="flaticon-php"></i>
                            <h4>Php Framework</h4>
                            <p>Also have dynamic website development experience with last version Laravel based solutions, Codigniter.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-card">
                            <h3>03</h3>
                            <span class="flaticon-online-ads"></span>
                            <i class="flaticon-online-ads"></i>
                            <h4>Web GIS</h4>
                            <p>As I m a GIS expert, I have rich experiences in Google map APIs, Openstreet map, Leaflaetmap, Map box APIs, ArcGIS, ArcGIS pro projects.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-card service-ghape">
                            <h3>04</h3>
                            <span class="flaticon-wordpress"></span>
                            <i class="flaticon-wordpress"></i>
                            <h4>wordpress customize</h4>
                            <p>Also have dynamic website development experience with wordpress based solutions, wordpress plugins.</p>
                        </div>
                    </div>                    
                    <div class="col-md-6 col-lg-4">
                        <div class="service-card service-ghape">
                            <h3>05</h3>
                            <span class="flaticon-responsive-design"></span>
                            <i class="flaticon-responsive-design"></i>
                            <h4>Android and IOS</h4>
                            <p>I have already designed, developed & successfully delivered many Android & iOS Mobile apps for various clients using React Native , Java.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-card service-ghape">
                            <h3>06</h3>
                            <span class="flaticon-responsive-design"></span>
                            <i class="flaticon-responsive-design"></i>
                            <h4>responsive design</h4>
                            <p>I will do responsive website design and build complete website by CSS FLEXBOX, GRID, BOOTSTRAP etc.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-card">
                            <h3>07</h3>
                            <span class="flaticon-tools-and-utensils"></span>
                            <i class="flaticon-tools-and-utensils"></i>
                            <h4>sass coding</h4>
                            <p>SASS is a CSS pre-processor that lets use variables, mixins, loops, functions, imports, and other interesting functionalities .</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-card">
                            <h3>08</h3>
                            <span class="flaticon-creativity"></span>
                            <i class="flaticon-creativity"></i>
                            <h4>psd to html</h4>
                            <p>SASS is a CSS pre-processor that lets use variables, mixins, loops, functions, imports, and other interesting functionalities .</p>
                        </div>
                    </div>                    
                    <div class="col-md-6 col-lg-4">
                        <div class="service-card">
                            <h3>09</h3>
                            <span class="flaticon-bar-chart"></span>
                            <i class="flaticon-bar-chart"></i>
                            <h4>figma to html</h4>
                            <p>SASS is a CSS pre-processor that lets use variables, mixins, loops, functions, imports, and other interesting functionalities .</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="service-btn">
                            <a class="btn btn-inline" href="#">
                                <i class="far fa-eye"></i>
                                <span>show more</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    SERVICE PART END
        =======================================-->


        <!--=====================================
                    PRICING PART START
        =======================================-->
        <!-- <section class="section pricing-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <p>pricing <span>plan</span></p>
                            <h2>Pricing plan will be change by discussion</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="pricing-card">
                            <div class="pricing-money">
                                <h3>basic</h3>
                                <h4>$30.00</h4>
                                <p>per project</p>
                            </div>
                            <ul class="pricing-list">
                                <li>One landing page</li>
                                <li>With responsive</li>
                                <li>modern design</li>
                                <li>Three rivision</li>
                                <li>four section</li>
                            </ul>
                            <div class="pricing-btn">
                                <a class="btn btn-inline" href="#">
                                    <i class="fas fa-paper-plane"></i>
                                    <span>Purchase plan</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="pricing-card pricing-recom">
                            <div class="pricing-money">
                                <h3>standard</h3>
                                <h4>$60.00</h4>
                                <p>per project</p>
                            </div>
                            <ul class="pricing-list">
                                <li>One landing page</li>
                                <li>With responsive</li>
                                <li>modern design</li>
                                <li>five rivision</li>
                                <li>six section</li>
                            </ul>
                            <div class="pricing-btn">
                                <a class="btn btn-inline" href="#">
                                    <i class="fas fa-paper-plane"></i>
                                    <span>Purchase plan</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="pricing-card">
                            <div class="pricing-money">
                                <h3>premium</h3>
                                <h4>$99.00</h4>
                                <p>per project</p>
                            </div>
                            <ul class="pricing-list">
                                <li>One landing page</li>
                                <li>With responsive</li>
                                <li>modern design</li>
                                <li>eight rivision</li>
                                <li>nine section</li>
                            </ul>
                            <div class="pricing-btn">
                                <a class="btn btn-inline" href="#">
                                    <i class="fas fa-paper-plane"></i>
                                    <span>Purchase plan</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--=====================================
                    PRICING PART END
        =======================================-->


        <!--=====================================
                    FAQ PART START
        =======================================-->
        <section class="section faq-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <p>faq <span>question</span></p>
                            <h2>Find your question before we work together</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="faq-parent">
                            <div class="faq-child">
                                <div class="faq-que">
                                    <button>What needs to be done to place your order ?</button>
                                </div>
                                <div class="faq-ans">
                                    <p>psd / png / jpg / pdf / any source file or reference link must be provided. If
                                        nothing else, tell me your needs, likes, or thoughts.</p>
                                </div>
                            </div>
                            <div class="faq-child">
                                <div class="faq-que">
                                    <button>I don't have PSD and JPG but I have Idea...</button>
                                </div>
                                <div class="faq-ans">
                                    <p>No problem, you will give me your idea and requirements of your website, in this case
                                        i'll help you to generate idea.</p>
                                </div>
                            </div>
                            <div class="faq-child">
                                <div class="faq-que">
                                    <button>What If I provide JPG file instant of PSD file ?</button>
                                </div>
                                <div class="faq-ans">
                                    <p>In this case the photos will be used in the website will not have good quality. But I
                                        can provide you with similar photos with limited cost.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="faq-parent">
                            <div class="faq-child">
                                <div class="faq-que">
                                    <button>How long will I take to handover your project ?</button>
                                </div>
                                <div class="faq-ans">
                                    <p>It depends on the complexity of your project but I've team so, I'm capable to finish your project faster than anyone else.</p>
                                </div>
                            </div>
                            <div class="faq-child">
                                <div class="faq-que">
                                    <button>If i don't get my project according to my requirement ?
                                    </button>
                                </div>
                                <div class="faq-ans">
                                    <p>Well It never happened. In this case i'll redesign for you if the design doesn't full fill your requirement.</p>
                                </div>
                            </div>
                            <div class="faq-child">
                                <div class="faq-que">
                                    <button>Do you use any automated Software conversion ?</button>
                                </div>
                                <div class="faq-ans">
                                    <p>Never! All codes are hand-typed code with well commented and W3C Validated.</p>
                                </div>
                            </div>
                            <div class="faq-child">
                                <div class="faq-que">
                                    <button>Will I get pixel perfect design ?</button>
                                </div>
                                <div class="faq-ans">
                                    <p>Yes, You will get a pixel perfect and fresh design.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    FAQ PART END
        =======================================-->


        <!--=====================================
                    TESTIMONIAL PART START
        =======================================-->
        <section class="section testi-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <p>clients <span>qoute</span></p>
                            <h2>Received fantastic feedback from the clients</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testi-slider">
                            <div class="testi-card">
                                <i class="flaticon-favorites"></i>
                                <div class="testi-quote">
                                    <p>Oustanding design and collaboration. I'm satisfied work with her.</p>
                                </div>
                                <div class="testi-meta">
                                    <h5>austin houston</h5>
                                    <p>new york, usa</p>
                                    <a href="#"><img src="img/testi-1.jpg" alt="testi-1"></a>
                                </div>
                            </div>
                            <div class="testi-card">
                                <i class="flaticon-favorites"></i>
                                <div class="testi-quote">
                                    <p>Oustanding design and collaboration. I'm satisfied work with her.</p>
                                </div>
                                <div class="testi-meta">
                                    <h5>devid whigtmore</h5>
                                    <p>rome, Italy</p>
                                    <a href="#"><img src="img/testi-2.jpg" alt="testi-2"></a>
                                </div>
                            </div>
                            <div class="testi-card">
                                <i class="flaticon-favorites"></i>
                                <div class="testi-quote">
                                    <p>Oustanding design and collaboration. I'm satisfied work with her.</p>
                                </div>
                                <div class="testi-meta">
                                    <h5>sane galonhop</h5>
                                    <p>dubai, uae</p>
                                    <a href="#"><img src="img/testi-3.jpg" alt="testi-3"></a>
                                </div>
                            </div>
                            <div class="testi-card">
                                <i class="flaticon-favorites"></i>
                                <div class="testi-quote">
                                    <p>Oustanding design and collaboration. I'm satisfied work with her.</p>
                                </div>
                                <div class="testi-meta">
                                    <h5>martin howelling</h5>
                                    <p>toronto, canada</p>
                                    <a href="#"><img src="img/testi-4.jpg" alt="testi-4"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    TESTIMONIAL PART END
        =======================================-->


        <!--=====================================
                    FOOTER PART START
        =======================================-->
        <section class="section footer-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-logo">
                            <a href="#"><img src="img/logo1.png" alt="footer-logo"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="footer-icon">
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="footer-text">
                            <li><h6>&copy; Copyright - <span>2020</span></h6></li>
                            <li><h6>All rights reserved by - <a target="_blank" href="#">Anna</a></h6></li>
                            <li><h6>Developed by - <a target="_blank" href="#">Anna Anna-kochenkova</a></h6></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    FOOTER PART END
        =======================================-->
        

        <!--=====================================
                    JS LINK PART START
        =======================================-->
        <!-- FOR BOOTSTRAP -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/vendor/popper.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <!-- FOR SLICK SLIDER -->
        <script src="js/vendor/slick.min.js"></script>
        <script src="js/custom/slick.js"></script>

        <!-- FOR INTERACTION -->
        <script src="js/custom/main.js"></script>
        <!--=====================================
                    JS LINK PART END
        =======================================-->
    </body>
</html>






